{% include 'header.twig' %}


  
 <div class="wrapper-content__body">
      <!-- Main variables *content* -->
      <div id="block_2">
    <div class="block-signin-text ">
        <div class="bg"></div>
        <div class="divider-top"></div>
        <div class="divider-bottom"></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-7">
                    <div class="block-signin-text__block-text">
                        <div class="block-signin-text__block-text-title"><h1 class="text-left"><span style="text-align: LEFT">{{ contentText }}</span></h1></div>
                        <div class="block-signin-text__block-text-description"><p>Get the cheapest and highest quality SMM services on the market!</p></div>
                    </div>
                </div>
                <div class="col-lg-5">
                    <div class="component_card">
                        <div class="card">
						   <div class="col-md-12">

      {% if errorText %}
        <div class="alert alert-dismissible alert-danger">
          <button type="button" class="close" data-dismiss="alert">&times;</button>
          {{ errorText }}
        </div>
      {% endif %}
      {% if successText %}
        <div class="alert alert-dismissible alert-success">
          <button type="button" class="close" data-dismiss="alert">&times;</button>
          {{ successText }}
        </div>
      {% endif %}

</div><br>
                     
                            <form class="component_form_group component_checkbox_remember_me" method="post" action="">
                                <div class="">
                                    
                                                                        <div class="form-group">
                                        <label>{{ lang['signin.username'] }}</label>
                                        <input type="text" name="username" class="form-control">
                                    </div>
                                    <div class="form-group">
                                        <label>{{ lang['signin.password'] }}</label>
                                        <div class="position-relative">
                                            <input type="password" name="password" class="form-control">{% if resetPage %}
                                                                                            <div class="sign-in__forgot h-100 d-flex align-items-center">
                                                    <a href="resetpassword">{{ lang['signin.password.lost'] }}</a>
                                                </div>{% endif %}
                                                                                    </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="form-group__checkbox">
                                            <label class="form-group__checkbox-label">
                                                <input type="checkbox" name="remember" id="block_2_remember_me" value="1">
                                                <span class="checkmark"></span>
                                            </label>
                                            <label class="form-group__label-title" for="block_2_remember_me">{{ lang['signin.remember'] }}</label>
                                        </div>
                                    </div>
                                    {% if captcha %}
            <div class="form-group">
              <div class="g-recaptcha" data-sitekey="{{ captchaKey }}"></div>
            </div>
          {% endif %}
                                    <div class="form-group">
                                        <div class="component_button_submit">
                                            <div class="">
                                                <button class="btn btn-block btn-big-primary" type="submit">
                                                    {{ lang['signin.button'] }}
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                
                                                                    <div class="text-center d-flex justify-content-center">
                                        <div>Do not have an account?</div>
                                        <a href="/signup" class="block-signin-text__sign-up-link">Sign up</a>
                                    </div>
                                                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="block_3">
    <div class="header-with-text ">
        <div class="bg"></div>
        <div class="divider-top"></div>
        <div class="divider-bottom"></div>
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="text-block__title">
                        <h2 class="text-center">Our advantages</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="text-block__description">
                        <p class="text-center">See how you can benefit from purchasing SMM services From&nbsp;{{ site["site_name"] }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="block_4">
    <div class="features-block-icons ">
        <div class="bg"></div>
        <div class="divider-top"></div>
        <div class="divider-bottom"></div>
        <div class="container">
            <div class="row align-items-start justify-content-center">
                                    <div class="col-lg-3 col-md-6 mb-4">
                        <div class="card features-block__card h-100"
                             style="
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                             ">
                            <div class="features-block__header">
                                <div class="features-block__header-preview style-bg-primary-alpha-10 style-border-radius-default style-text-primary" style="margin-bottom: 10px;
                                         height: 96px;                                                                                                                                                                                                                                                 ">
                                    <span class="feature-block__icon fal fa-medal" style="
                                            font-size: 55px;
                                            transform: rotate(0deg);
                                            color: ;
                                            text-shadow: none;
                                            border-radius: 0px;
                                            background: transparent;
                                            padding: 10px;
                                            "></span>
                                </div>
                                                                    <div class="features-block__header-title" style="margin-bottom: 8px; padding-left: 0px; padding-right: 0px;">
                                        <p><strong style="font-weight: bold">Superb services</strong></p>
                                    </div>
                                                            </div>
                            <div class="features-block__body">
                                                                    <div class="features-block__body-description" style="padding-left: 0px; padding-right: 0px;">
                                        <p>You will be satisfied with the quality of our SMM services.</p>
                                    </div>
                                                            </div>
                        </div>
                    </div>
                                    <div class="col-lg-3 col-md-6 mb-4">
                        <div class="card features-block__card h-100"
                             style="
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                             ">
                            <div class="features-block__header">
                                <div class="features-block__header-preview style-bg-primary-alpha-10 style-border-radius-default style-text-primary" style="margin-bottom: 10px;
                                         height: 96px;                                                                                                                                                                                                                                                 ">
                                    <span class="feature-block__icon fal fa-donate" style="
                                            font-size: 55px;
                                            transform: rotate(0deg);
                                            color: ;
                                            text-shadow: none;
                                            border-radius: 0px;
                                            background: transparent;
                                            padding: 10px;
                                            "></span>
                                </div>
                                                                    <div class="features-block__header-title" style="margin-bottom: 8px; padding-left: 0px; padding-right: 0px;">
                                        <p><strong style="font-weight: bold">Different payment methods</strong></p>
                                    </div>
                                                            </div>
                            <div class="features-block__body">
                                                                    <div class="features-block__body-description" style="padding-left: 0px; padding-right: 0px;">
                                        <p>We offer various options to add funds to your account.</p>
                                    </div>
                                                            </div>
                        </div>
                    </div>
                                    <div class="col-lg-3 col-md-6 mb-4">
                        <div class="card features-block__card h-100"
                             style="
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                             ">
                            <div class="features-block__header">
                                <div class="features-block__header-preview style-bg-primary-alpha-10 style-border-radius-default style-text-primary" style="margin-bottom: 10px;
                                         height: 96px;                                                                                                                                                                                                                                                 ">
                                    <span class="feature-block__icon fal fa-hands-usd" style="
                                            font-size: 55px;
                                            transform: rotate(0deg);
                                            color: ;
                                            text-shadow: none;
                                            border-radius: 0px;
                                            background: transparent;
                                            padding: 10px;
                                            "></span>
                                </div>
                                                                    <div class="features-block__header-title" style="margin-bottom: 8px; padding-left: 0px; padding-right: 0px;">
                                        <p><strong style="font-weight: bold">Extremely cheap</strong></p>
                                    </div>
                                                            </div>
                            <div class="features-block__body">
                                                                    <div class="features-block__body-description" style="padding-left: 0px; padding-right: 0px;">
                                        <p>We make sure that services on our panel are affordable.</p>
                                    </div>
                                                            </div>
                        </div>
                    </div>
                                    <div class="col-lg-3 col-md-6 mb-4">
                        <div class="card features-block__card h-100"
                             style="
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                             ">
                            <div class="features-block__header">
                                <div class="features-block__header-preview style-bg-primary-alpha-10 style-border-radius-default style-text-primary" style="margin-bottom: 10px;
                                         height: 96px;                                                                                                                                                                                                                                                 ">
                                    <span class="feature-block__icon fal fa-hand-holding-heart" style="
                                            font-size: 55px;
                                            transform: rotate(0deg);
                                            color: ;
                                            text-shadow: none;
                                            border-radius: 0px;
                                            background: transparent;
                                            padding: 10px;
                                            "></span>
                                </div>
                                                                    <div class="features-block__header-title" style="margin-bottom: 8px; padding-left: 0px; padding-right: 0px;">
                                        <p><strong style="font-weight: bold">Delivered quickly</strong></p>
                                    </div>
                                                            </div>
                            <div class="features-block__body">
                                                                    <div class="features-block__body-description" style="padding-left: 0px; padding-right: 0px;">
                                        <p>You will be surprised at how quick our order delivery is.</p>
                                    </div>
                                                            </div>
                        </div>
                    </div>
                            </div>
        </div>
    </div>
</div>
<div id="block_5">
    <div class="header-with-text ">
        <div class="bg"></div>
        <div class="divider-top"></div>
        <div class="divider-bottom"></div>
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="text-block__title">
                        <h2 class="text-center"><span style="text-align: CENTER">How to get started</span></h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="text-block__description">
                        <p class="text-center"><span style="text-align: CENTER">Learn how to use our panel by following the step-by-step tutorial below.</span></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="block_6">
    <div class="how-it-works ">
        <div class="bg"></div>
        <div class="divider-top"></div>
        <div class="divider-bottom"></div>
        <div class="container">
            <div class="row how-it-works-row justify-content-start">
                                    <div class="col-md-3 how-it-works-col">
                        <div class="how-it-works-card">
                            <div class="how-it-works-arrow-top style-svg-g-primary">
                                <svg width="125px" height="31px" viewBox="0 0 125 31" version="1.1" xmlns="http://www.w3.org/2000/svg"><g id="Landing" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                        <g transform="translate(-942.000000, -1387.000000)" fill="#1E79E4" id="Group-10">
                                            <g transform="translate(165.000000, 1368.000000)">
                                                <path d="M889.516523,26.5080119 L891.910644,20.9496585 L902,32.9164837 L886.372927,33.807873 L888.723185,28.3469617 C871.347087,21.9210849 854.507984,19.7125409 838.195168,21.7129851 C818.169006,24.1687976 798.907256,32.9719131 780.398868,48.1424468 L779.638673,48.7694781 L778.869195,49.4081513 L777.591849,47.8691952 L778.361327,47.2305219 C797.38492,31.4407805 817.252224,22.2662407 837.951732,19.7278557 C854.622929,17.6834632 871.814783,19.9463129 889.516523,26.5080119 Z" id="Line3"></path>
                                            </g>
                                        </g>
                                    </g>
                                </svg>
                            </div>
                            <div class="how-it-works-arrow-bottom style-svg-g-primary">
                                <svg width="125px" height="31px" viewBox="0 0 125 31" version="1.1" xmlns="http://www.w3.org/2000/svg"><g id="Landing" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                        <g transform="translate(-657.000000, -1461.000000)" fill="#1E79E4" id="Group-10">
                                            <g transform="translate(165.000000, 1368.000000)">
                                                <path d="M493.869195,93.5918487 L494.638673,94.2305219 C513.37968,109.785715 532.894675,118.797561 553.195168,121.287015 C569.507984,123.287459 586.347087,121.078915 603.723185,114.653038 L601.372927,109.192127 L617,110.083516 L606.910644,122.050341 L604.516523,116.491988 C586.814783,123.053687 569.622929,125.316537 552.951732,123.272144 C532.528218,120.767604 512.914862,111.802694 494.12272,96.3975396 L493.361327,95.7694781 L492.591849,95.1308048 L493.869195,93.5918487 Z" id="Line2"></path>
                                            </g>
                                        </g>
                                    </g>
                                </svg>
                            </div>
                            <div class="d-flex justify-content-center how-it-works-preview" style="margin-bottom: 12px;">
                                <div class="how-it-works-number style-box-shadow-default style-bg-color-light style-border-radius-50"
                                     style="
                                     font-size: 32px;                                      width: 95px;                                      height: 95px;                                                                                                                                                                                                                                                                                                                                                                                                                                                                                     ">
                                    1
                                </div>
                            </div>
                            <div class="how-it-works-title" style="margin-bottom: 8px; padding-left: 0px; padding-right: 0x;">
                                <p class="text-center"><span style="text-align: CENTER"><strong style="font-weight: bold">1. Sign up</strong></span></p>
                            </div>
                            <div class="how-it-works-description" style="padding-left: 0px; padding-right: 0x;">
                                <p class="text-center"><span style="text-align: CENTER">Begin with creating a panel account and logging in.</span></p>
                            </div>
                        </div>
                    </div>
                                    <div class="col-md-3 how-it-works-col">
                        <div class="how-it-works-card">
                            <div class="how-it-works-arrow-top style-svg-g-primary">
                                <svg width="125px" height="31px" viewBox="0 0 125 31" version="1.1" xmlns="http://www.w3.org/2000/svg"><g id="Landing" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                        <g transform="translate(-942.000000, -1387.000000)" fill="#1E79E4" id="Group-10">
                                            <g transform="translate(165.000000, 1368.000000)">
                                                <path d="M889.516523,26.5080119 L891.910644,20.9496585 L902,32.9164837 L886.372927,33.807873 L888.723185,28.3469617 C871.347087,21.9210849 854.507984,19.7125409 838.195168,21.7129851 C818.169006,24.1687976 798.907256,32.9719131 780.398868,48.1424468 L779.638673,48.7694781 L778.869195,49.4081513 L777.591849,47.8691952 L778.361327,47.2305219 C797.38492,31.4407805 817.252224,22.2662407 837.951732,19.7278557 C854.622929,17.6834632 871.814783,19.9463129 889.516523,26.5080119 Z" id="Line3"></path>
                                            </g>
                                        </g>
                                    </g>
                                </svg>
                            </div>
                            <div class="how-it-works-arrow-bottom style-svg-g-primary">
                                <svg width="125px" height="31px" viewBox="0 0 125 31" version="1.1" xmlns="http://www.w3.org/2000/svg"><g id="Landing" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                        <g transform="translate(-657.000000, -1461.000000)" fill="#1E79E4" id="Group-10">
                                            <g transform="translate(165.000000, 1368.000000)">
                                                <path d="M493.869195,93.5918487 L494.638673,94.2305219 C513.37968,109.785715 532.894675,118.797561 553.195168,121.287015 C569.507984,123.287459 586.347087,121.078915 603.723185,114.653038 L601.372927,109.192127 L617,110.083516 L606.910644,122.050341 L604.516523,116.491988 C586.814783,123.053687 569.622929,125.316537 552.951732,123.272144 C532.528218,120.767604 512.914862,111.802694 494.12272,96.3975396 L493.361327,95.7694781 L492.591849,95.1308048 L493.869195,93.5918487 Z" id="Line2"></path>
                                            </g>
                                        </g>
                                    </g>
                                </svg>
                            </div>
                            <div class="d-flex justify-content-center how-it-works-preview" style="margin-bottom: 12px;">
                                <div class="how-it-works-number style-box-shadow-default style-bg-color-light style-border-radius-50"
                                     style="
                                     font-size: 32px;                                      width: 95px;                                      height: 95px;                                                                                                                                                                                                                                                                                                                                                                                                                                                                                     ">
                                    2
                                </div>
                            </div>
                            <div class="how-it-works-title" style="margin-bottom: 8px; padding-left: 0px; padding-right: 0x;">
                                <p class="text-center"><span style="text-align: CENTER"><strong style="font-weight: bold">2. Add funds</strong></span></p>
                            </div>
                            <div class="how-it-works-description" style="padding-left: 0px; padding-right: 0x;">
                                <p class="text-center"><span style="text-align: CENTER">Add funds through a payment method you prefer.</span></p>
                            </div>
                        </div>
                    </div>
                                    <div class="col-md-3 how-it-works-col">
                        <div class="how-it-works-card">
                            <div class="how-it-works-arrow-top style-svg-g-primary">
                                <svg width="125px" height="31px" viewBox="0 0 125 31" version="1.1" xmlns="http://www.w3.org/2000/svg"><g id="Landing" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                        <g transform="translate(-942.000000, -1387.000000)" fill="#1E79E4" id="Group-10">
                                            <g transform="translate(165.000000, 1368.000000)">
                                                <path d="M889.516523,26.5080119 L891.910644,20.9496585 L902,32.9164837 L886.372927,33.807873 L888.723185,28.3469617 C871.347087,21.9210849 854.507984,19.7125409 838.195168,21.7129851 C818.169006,24.1687976 798.907256,32.9719131 780.398868,48.1424468 L779.638673,48.7694781 L778.869195,49.4081513 L777.591849,47.8691952 L778.361327,47.2305219 C797.38492,31.4407805 817.252224,22.2662407 837.951732,19.7278557 C854.622929,17.6834632 871.814783,19.9463129 889.516523,26.5080119 Z" id="Line3"></path>
                                            </g>
                                        </g>
                                    </g>
                                </svg>
                            </div>
                            <div class="how-it-works-arrow-bottom style-svg-g-primary">
                                <svg width="125px" height="31px" viewBox="0 0 125 31" version="1.1" xmlns="http://www.w3.org/2000/svg"><g id="Landing" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                        <g transform="translate(-657.000000, -1461.000000)" fill="#1E79E4" id="Group-10">
                                            <g transform="translate(165.000000, 1368.000000)">
                                                <path d="M493.869195,93.5918487 L494.638673,94.2305219 C513.37968,109.785715 532.894675,118.797561 553.195168,121.287015 C569.507984,123.287459 586.347087,121.078915 603.723185,114.653038 L601.372927,109.192127 L617,110.083516 L606.910644,122.050341 L604.516523,116.491988 C586.814783,123.053687 569.622929,125.316537 552.951732,123.272144 C532.528218,120.767604 512.914862,111.802694 494.12272,96.3975396 L493.361327,95.7694781 L492.591849,95.1308048 L493.869195,93.5918487 Z" id="Line2"></path>
                                            </g>
                                        </g>
                                    </g>
                                </svg>
                            </div>
                            <div class="d-flex justify-content-center how-it-works-preview" style="margin-bottom: 12px;">
                                <div class="how-it-works-number style-box-shadow-default style-bg-color-light style-border-radius-50"
                                     style="
                                     font-size: 32px;                                      width: 95px;                                      height: 95px;                                                                                                                                                                                                                                                                                                                                                                                                                                                                                     ">
                                    3
                                </div>
                            </div>
                            <div class="how-it-works-title" style="margin-bottom: 8px; padding-left: 0px; padding-right: 0x;">
                                <p class="text-center"><span style="text-align: CENTER"><strong style="font-weight: bold">3. Pick out services</strong></span></p>
                            </div>
                            <div class="how-it-works-description" style="padding-left: 0px; padding-right: 0x;">
                                <p class="text-center"><span style="text-align: CENTER">Choose the SMM services you need and place orders on our panel.</span></p>
                            </div>
                        </div>
                    </div>
                                    <div class="col-md-3 how-it-works-col">
                        <div class="how-it-works-card">
                            <div class="how-it-works-arrow-top style-svg-g-primary">
                                <svg width="125px" height="31px" viewBox="0 0 125 31" version="1.1" xmlns="http://www.w3.org/2000/svg"><g id="Landing" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                        <g transform="translate(-942.000000, -1387.000000)" fill="#1E79E4" id="Group-10">
                                            <g transform="translate(165.000000, 1368.000000)">
                                                <path d="M889.516523,26.5080119 L891.910644,20.9496585 L902,32.9164837 L886.372927,33.807873 L888.723185,28.3469617 C871.347087,21.9210849 854.507984,19.7125409 838.195168,21.7129851 C818.169006,24.1687976 798.907256,32.9719131 780.398868,48.1424468 L779.638673,48.7694781 L778.869195,49.4081513 L777.591849,47.8691952 L778.361327,47.2305219 C797.38492,31.4407805 817.252224,22.2662407 837.951732,19.7278557 C854.622929,17.6834632 871.814783,19.9463129 889.516523,26.5080119 Z" id="Line3"></path>
                                            </g>
                                        </g>
                                    </g>
                                </svg>
                            </div>
                            <div class="how-it-works-arrow-bottom style-svg-g-primary">
                                <svg width="125px" height="31px" viewBox="0 0 125 31" version="1.1" xmlns="http://www.w3.org/2000/svg"><g id="Landing" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                        <g transform="translate(-657.000000, -1461.000000)" fill="#1E79E4" id="Group-10">
                                            <g transform="translate(165.000000, 1368.000000)">
                                                <path d="M493.869195,93.5918487 L494.638673,94.2305219 C513.37968,109.785715 532.894675,118.797561 553.195168,121.287015 C569.507984,123.287459 586.347087,121.078915 603.723185,114.653038 L601.372927,109.192127 L617,110.083516 L606.910644,122.050341 L604.516523,116.491988 C586.814783,123.053687 569.622929,125.316537 552.951732,123.272144 C532.528218,120.767604 512.914862,111.802694 494.12272,96.3975396 L493.361327,95.7694781 L492.591849,95.1308048 L493.869195,93.5918487 Z" id="Line2"></path>
                                            </g>
                                        </g>
                                    </g>
                                </svg>
                            </div>
                            <div class="d-flex justify-content-center how-it-works-preview" style="margin-bottom: 12px;">
                                <div class="how-it-works-number style-box-shadow-default style-bg-color-light style-border-radius-50"
                                     style="
                                     font-size: 32px;                                      width: 95px;                                      height: 95px;                                                                                                                                                                                                                                                                                                                                                                                                                                                                                     ">
                                    4
                                </div>
                            </div>
                            <div class="how-it-works-title" style="margin-bottom: 8px; padding-left: 0px; padding-right: 0x;">
                                <p class="text-center"><span style="text-align: CENTER"><strong style="font-weight: bold">4. Fast results</strong></span></p>
                            </div>
                            <div class="how-it-works-description" style="padding-left: 0px; padding-right: 0x;">
                                <p class="text-center"><span style="text-align: CENTER">Watch how your social media account grows when your order is ready.</span></p>
                            </div>
                        </div>
                    </div>
                            </div>
        </div>
    </div>
</div>
<div id="block_7">
    <div class="header-with-text ">
        <div class="bg"></div>
        <div class="divider-top"></div>
        <div class="divider-bottom"></div>
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="text-block__title">
                        <h2 class="text-center"><span style="text-align: CENTER">Our customers' experience</span></h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="text-block__description">
                        <p class="text-center"><span style="text-align: CENTER">Check out some of our customers' success stories below.</span></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="block_8">
    <div class="reviews-slider ">
        <div class="bg"></div>
        <div class="divider-top"></div>
        <div class="divider-bottom"></div>
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-10">
                                                            <div class="reviews-slider">
                        <div data-slider="1" data-slider-options="{'dots':true,'infinite':true,'speed':500,'autoplay':true,'autoplaySpeed':5000,'slidesToShow':2,'slidesToScroll':1,'responsive':[{'breakpoint':991,'settings':{'slidesToShow':1,'slidesToScroll':1}}],'rtl':false}">
                                                            <div class="reviews-slider__slide">
                                    <div class="card" style="
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                    ">
                                                                                    <div class="reviews-slider__slide-photo" style="margin-bottom: 16px; justify-content: flex-start;">
                                                <div class="reviews-slider__slide-avatar" style="background-image: url(/public/pro/img/no_image.png);"></div>
                                            </div>
                                                                                <div class="reviews-slider__slide-name" style="padding-left: 0px; padding-right: 0px; margin-bottom: 10px;">
                                            <p><strong style="font-weight: bold">Maria Sousa</strong></p>
                                        </div>
                                        <div class="reviews-slider__slide-description" style="padding-left: 0px; padding-right: 0px;">
                                            <p>I was struggling with promoting my business online, the engagement was off, nothing worked. But the situation changed completely when I discovered SMM services on this panel. Huge thanks!</p>
                                        </div>
                                    </div>
                                </div>
                                                            <div class="reviews-slider__slide">
                                    <div class="card" style="
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                    ">
                                                                                    <div class="reviews-slider__slide-photo" style="margin-bottom: 16px; justify-content: flex-start;">
                                                <div class="reviews-slider__slide-avatar" style="background-image: url(/public/pro/img/no_image.png);"></div>
                                            </div>
                                                                                <div class="reviews-slider__slide-name" style="padding-left: 0px; padding-right: 0px; margin-bottom: 8px;">
                                            <p><strong style="font-weight: bold">Asil Kocak</strong></p>
                                        </div>
                                        <div class="reviews-slider__slide-description" style="padding-left: 0px; padding-right: 0px;">
                                            <p>We all know that promoting your business online isn't easy because there's always competition. SMM services I ordered on &nbsp;{{ site["site_name"] }} helped me get more exposure and build my clientele. Thank you!</p>
                                        </div>
                                    </div>
                                </div>
                                                            <div class="reviews-slider__slide">
                                    <div class="card" style="
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                    ">
                                                                                    <div class="reviews-slider__slide-photo" style="margin-bottom: 10px; justify-content: flex-start;">
                                                <div class="reviews-slider__slide-avatar" style="background-image: url(/public/pro/img/no_image.png);"></div>
                                            </div>
                                                                                <div class="reviews-slider__slide-name" style="padding-left: 0px; padding-right: 0px; margin-bottom: 8px;">
                                            <p><strong style="font-weight: bold">Blaine Rojas</strong></p>
                                        </div>
                                        <div class="reviews-slider__slide-description" style="padding-left: 0px; padding-right: 0px;">
                                            <p>I've been using this panel's &nbsp;{{ site["site_name"] }} for quite a while now — never had a problem. Obviously, everyone has different needs, but what I like a lot in particular is a good variety of services for different platforms, there are always great options to choose from.</p>
                                        </div>
                                    </div>
                                </div>
                                                    </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="block_9">
    <div class="header-with-text ">
        <div class="bg"></div>
        <div class="divider-top"></div>
        <div class="divider-bottom"></div>
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="text-block__title">
                        <h2 class="text-center"><span style="text-align: CENTER">Most Popular Questions</span></h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="text-block__description">
                        <p class="text-center"><span style="text-align: CENTER">Check out answers to top 5 most popular questions on our panel.</span></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="block_10">
    <div class="faq ">
        <div class="bg"></div>
        <div class="divider-top"></div>
        <div class="divider-bottom"></div>
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-8">
                    <div class="row">
                                                    <div class="col-lg-12">
                                <div class="faq-block__card">
                                    <div class="card" style="
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                ">
                                        <div class="faq-block__header collapsed" data-toggle="collapse" data-target="#faq-block-10-1" aria-expanded="false" aria-controls="#faq-block-10-1">
                                            <div class="faq-block__header-title">
                                                <h4>Why do people look for SMM panels?</h4>
                                            </div>
                                            <div class="faq-block__header-icon">
                                                <div class="style-text-dark faq-block__icon" style=""></div>
                                            </div>
                                        </div>
                                        <div class="faq-block__body collapse" id="faq-block-10-1">
                                            <div class="faq-block__body-description" style="padding-top: 8px">
                                                <p>SMM panels are online shops that sell different SMM services. People choose our panel because we offer high-quality SMM services at fantastic prices.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                                                    <div class="col-lg-12">
                                <div class="faq-block__card">
                                    <div class="card" style="
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                ">
                                        <div class="faq-block__header collapsed" data-toggle="collapse" data-target="#faq-block-10-2" aria-expanded="false" aria-controls="#faq-block-10-2">
                                            <div class="faq-block__header-title">
                                                <h4>What types of SMM services can I find on your panel?</h4>
                                            </div>
                                            <div class="faq-block__header-icon">
                                                <div class="style-text-dark faq-block__icon" style=""></div>
                                            </div>
                                        </div>
                                        <div class="faq-block__body collapse" id="faq-block-10-2">
                                            <div class="faq-block__body-description" style="padding-top: 8px">
                                                <p>On &nbsp;{{ site["site_name"] }} you can find different types of SMM services: views, followers, likes and so on.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                                                    <div class="col-lg-12">
                                <div class="faq-block__card">
                                    <div class="card" style="
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                ">
                                        <div class="faq-block__header collapsed" data-toggle="collapse" data-target="#faq-block-10-3" aria-expanded="false" aria-controls="#faq-block-10-3">
                                            <div class="faq-block__header-title">
                                                <h4>Is it safe to order your SMM services?</h4>
                                            </div>
                                            <div class="faq-block__header-icon">
                                                <div class="style-text-dark faq-block__icon" style=""></div>
                                            </div>
                                        </div>
                                        <div class="faq-block__body collapse" id="faq-block-10-3">
                                            <div class="faq-block__body-description" style="padding-top: 8px">
                                                <p>Sure, ordering our SMM services is 100% safe, your accounts won't be banned.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                                                    <div class="col-lg-12">
                                <div class="faq-block__card">
                                    <div class="card" style="
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                ">
                                        <div class="faq-block__header collapsed" data-toggle="collapse" data-target="#faq-block-10-4" aria-expanded="false" aria-controls="#faq-block-10-4">
                                            <div class="faq-block__header-title">
                                                <h4>What is the mass order feature for?</h4>
                                            </div>
                                            <div class="faq-block__header-icon">
                                                <div class="style-text-dark faq-block__icon" style=""></div>
                                            </div>
                                        </div>
                                        <div class="faq-block__body collapse" id="faq-block-10-4">
                                            <div class="faq-block__body-description" style="padding-top: 8px">
                                                <p>A mass order is a great option that helps save time since it allows to place several separate orders with different links.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                                                    <div class="col-lg-12">
                                <div class="faq-block__card">
                                    <div class="card" style="
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                ">
                                        <div class="faq-block__header collapsed" data-toggle="collapse" data-target="#faq-block-10-5" aria-expanded="false" aria-controls="#faq-block-10-5">
                                            <div class="faq-block__header-title">
                                                <h4>What does Drip-feed do?</h4>
                                            </div>
                                            <div class="faq-block__header-icon">
                                                <div class="style-text-dark faq-block__icon" style=""></div>
                                            </div>
                                        </div>
                                        <div class="faq-block__body collapse" id="faq-block-10-5">
                                            <div class="faq-block__body-description" style="padding-top: 8px">
                                                <p>The Drip-feed feature exists to help build the engagement on the chosen account at your desired speed. For example, if you want 1000 likes on your post, instead of getting them all at once, you can get 100/day for 10 days.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                                            </div>
                </div>
            </div>
        </div>
    </div>
</div>

    </div>
  



{% include 'footer.twig' %}
