{% include 'header.twig' %}

   <div class="wrapper-content__header">
          </div>
    <div class="wrapper-content__body">
      <!-- Main variables *content* -->
      <div id="block_38">
    <div class="reset-password-form">
        <div class="bg"></div>
        <div class="divider-top"></div>
        <div class="divider-bottom"></div>
        <div class="container-fluid">
            <div class="row reset-password-form__alignment">
                <div class="col-lg-4">
                    <div class="component_card">
                        <div class="card">
    <div class="col-md-12">

      {% if errorText %}
        <div class="alert alert-dismissible alert-danger">
          <button type="button" class="close" data-dismiss="alert">&times;</button>
          {{ errorText }}
        </div>
      {% endif %}
      {% if successText %}
        <div class="alert alert-dismissible alert-success">
          <button type="button" class="close" data-dismiss="alert">&times;</button>
          {{ successText }}
        </div>
      {% endif %}

      <div class="well">
        <form method="post" action="">

          <div class="form-group">
            <label for="username" class="control-label">{{ lang['resetpassword.user'] }}</label>
            <input type="text" class="form-control" name="user" value="{{ data['user'] }}" placeholder="{{ lang['resetpassword.user.placeholder'] }}">
          </div>

          <div class="form-group">
            <label for="username" class="control-label">{{ lang['resetpassword.type'] }}</label>
            <select class="form-control" name="type">
             {% for reset in resetType %}
              <option value="{{ reset['type'] }}">{{ reset['name'] }}</option>
             {% endfor %}
            </select>
          </div>


          {% if captcha %}
            <div class="form-group">
              <div class="g-recaptcha" data-sitekey="{{ captchaKey }}"></div>
            </div>
          {% endif %}

            <button type="submit" class="btn btn-block btn-big-primary">{{ lang['resetpassword.button'] }}</button>
        </form>
      </div>
    </div>
  </div></div>

    </div></div></div>
</div></div>
</div>
{% include 'footer.twig' %}
