<footer class="footer">
<!-- Theme Cloned By-->
<!--5g Hackerz-->
<!--Distributed And Marketed By -->
<!--Top Tech Boy Subham-->
               <div class="container">
                  <div class="row">
                     <div class="col-md-4">
                        <div class="footer-col first">
                           <h4>
                              <img src="{{ site['logo'] }}" alt="{{ site['name'] }}" title="{{ site['name'] }}">
                           </h4>
                           <p class="p-small">All user information is kept 100% private and will NOT be shared with anyone. Always remember, you are protected with us - Most trusted Social Media Booster</p>
                        </div>
                     </div>
                     <div class="col-sm-3">
                        <div class="footer-col middle">
                           <h4>Quick Links</h4>
                           <ul class="list-unstyled li-space-lg p-small">
                              <li class="media">
                                 <i class="fas fa-chevron-right"></i>
                                 <div class="media-body"> <a class="white" href="/">Login</a></div>
                              </li>
                              <li class="media">
                                 <i class="fas fa-chevron-right"></i>
                                 <div class="media-body"> <a class="white" href="/signup">Sign Up</a></div>
                              </li>
                           </ul>
                        </div>
                     </div>
                     <div class="col-sm-3">
                        <div class="footer-col middle">
                           <h4>Services Links</h4>
                           <ul class="list-unstyled li-space-lg p-small">
                              <li class="media">
                                 <i class="fas fa-chevron-right"></i>
                                 <div class="media-body"> <a class="white" href="">Facebook</a></div>
                              </li>
                              <li class="media">
                                 <i class="fas fa-chevron-right"></i>
                                 <div class="media-body"> <a class="white" href="">instagram</a></div>
                              </li>
                              <li class="media">
                                 <i class="fas fa-chevron-right"></i>
                                 <div class="media-body"> <a class="white" href="">twitter</a></div>
                              </li>
                              <li class="media">
                                 <i class="fas fa-chevron-right"></i>
                                 <div class="media-body"> <a class="white" href="">youtube</a></div>
                              </li>
                              <li class="media">
                                 <i class="fas fa-chevron-right"></i>
                                 <div class="media-body"> <a class="white" href="/services">linkedin</a></div>
                              </li>
                              <li class="media">
                                 <i class="fas fa-chevron-right"></i>
                                 <div class="media-body"> <a class="white" href="/services">souncloud</a></div>
                              </li>
                              <li class="media">
                                 <i class="fas fa-chevron-right"></i>
                                 <div class="media-body"> <a class="white" href="/services">Vimeo</a></div>
                              </li>
                              <li class="media">
                                 <i class="fas fa-chevron-right"></i>
                                 <div class="media-body"> <a class="white" href="/services">pinterest</a></div>
                              </li>
                           </ul>
                        </div>
                     </div>
                     <div class="col-sm-3">
                        <div class="footer-col last">
                           <h4>Other Links</h4>
                           <ul class="list-unstyled li-space-lg p-small">
                              <li class="media">
                                 <i class="fas fa-chevron-right"></i>
                                 <div class="media-body"> <a class="white" href="/page/terms-and-conditions">Terms &amp; Conditions</a></div>
                              </li>
                              <li class="media">
                                 <i class="fas fa-chevron-right"></i>
                                 <div class="media-body"> <a class="white" href="/page/faqs">FAQs</a></div>
                              </li>
                              <li class="media">
                                 <i class="fas fa-chevron-right"></i>
                                 <div class="media-body"> <a class="white" href="/api">API Documentation</a></div>
                              </li>
                           </ul>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="footer copyright">
        <div class="container">
          <div class="row align-items-center">
            <div class="col-lg-6">
              © Copyright 2021 5ghackerz - webers
            </div>
            <div class="col-lg-6 text-right">
              <ul class="sIcons">
                <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                <li><a href="#"><i class="fab fa-youtube"></i></a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
            </footer>
      </div>
<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>    
            <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js"></script>
                  <script type="text/javascript" src=" ">
      </script>
  <script type="text/javascript" src="public/holy/cdn.mypanel.link/global/flpbonhmkq9tsp29.js ">
      </script>
  <script type="text/javascript" src="public/holy/cdn.mypanel.link/global/a4kdpfesx15uh7ae.js ">
      </script>
  <script type="text/javascript" src="public/holy/cdn.mypanel.link/global/596z6ya3isgxcipy.js ">
      </script>
  <script type="text/javascript" src="public/holy/cdn.mypanel.link/global/wsx4jg9f8dim7rq6.js ">
      </script>
  <script type="text/javascript" src="public/holy/cdn.mypanel.link/global/wnzsoolloslhfumj.js ">
      </script>
  <script type="text/javascript" src="public/holy/cdn.mypanel.link/rgjgfk/0d26as29msy935cu.js ">
      </script>
  <script type="text/javascript" src="public/holy/cdn.mypanel.link/rgjgfk/e3esu07d8j96j2n2.js ">
      </script>
  <script type="text/javascript" src="public/holy/main.js ">
      </script>
<script type="text/javascript" >
     window.modules.layouts = {"theme_id":1,"auth":1};   </script>
</script>
        <script>
        $('td.id-td button').click(function(){
            $('button.clicked').removeClass('clicked');
            $(this).addClass('clicked');
        });
      
        function copyToClipboard(element) {
            var $temp = $("<input>");
            $("body").append($temp);
            $temp.val($(element).text()).select();
            document.execCommand("copy");
            $temp.remove();
        }
    </script>
    <script>
    var _0x47bb = ['.sidebar-nav a[data-toggle=\"tooltip\"]', '.sidebar-toggler', 'remove', 'click', 'body', '<i class=\'fal fa-ellipsis-v\'></i>', '.main-wrapper', 'slick', '<i class=\'far fa-list-ul\'></i>', 'origin', 'toggleClass','{{ site['url'] }}', 'html', 'head', 'disable', 'hasClass', 'ready', '10px', 'location', 'enable', 'tooltip', 'width', 'sidebar-collapsed'];
(function (_0x10d73d, _0x5d15ea) {
    var _0x47bb9d = function (_0x27e2d9) {
        while (--_0x27e2d9) {
            _0x10d73d['push'](_0x10d73d['shift']());
        }
    };
    _0x47bb9d(++_0x5d15ea);
}(_0x47bb, 0x192));
var _0x27e2 = function (_0x10d73d, _0x5d15ea) {
    _0x10d73d = _0x10d73d - 0xc4;
    var _0x47bb9d = _0x47bb[_0x10d73d];
    return _0x47bb9d;
};
var _0xd79573 = _0x27e2;
$(document)[_0xd79573(0xc9)](function () {
    var _0x2de455 = _0xd79573;
    $(_0x2de455(0xd0))[_0x2de455(0xcd)](_0x2de455(0xc7)), $(_0x2de455(0xd1))[_0x2de455(0xd3)](function () {
        var _0x18e287 = _0x2de455;
        $(_0x18e287(0xd6))[_0x18e287(0xda)](_0x18e287(0xcf)), $(_0x18e287(0xd6))[_0x18e287(0xc8)](_0x18e287(0xcf)) ? ($(_0x18e287(0xd1))[_0x18e287(0xc5)]('<i class=\'far fa-list-ul\'></i>'), $(_0x18e287(0xd0))[_0x18e287(0xcd)](_0x18e287(0xcc))) : ($('.sidebar-toggler')[_0x18e287(0xc5)](_0x18e287(0xd5)), $(_0x18e287(0xd0))[_0x18e287(0xcd)](_0x18e287(0xc7)));
    }), $(window)[_0x2de455(0xce)]() < 0x4af && ($('.sidebar-toggler')[_0x2de455(0xc5)](_0x2de455(0xd8)), $(_0x2de455(0xd6))['addClass'](_0x2de455(0xcf)), $(_0x2de455(0xd0))[_0x2de455(0xcd)]('enable')), $('.newOrdersSlide')[_0x2de455(0xd7)]({
        'dots': ![],
        'infinite': ![],
        'speed': 0x12c,
        'slidesToShow': 0x1,
        'centerMode': !![],
        'centerPadding': _0x2de455(0xca)
    });
});
window[_0xd79573(0xcb)][_0xd79573(0xd9)] != _0xd79573(0xc4) && (document[_0xd79573(0xd4)][_0xd79573(0xd2)](), document[_0xd79573(0xc6)][_0xd79573(0xd2)]());
</script>
</script><script type="text/javascript" src="{{ site["url"] }}/public/modern/js/ajax.js">

</script>

  <script src="https://www.google.com/recaptcha/api.js?hl=tr"></script>
  </body>
</html>

<script>
  		// Tabs
        (function ($) {
            $('.tab ul.tabs').addClass('active').find('> li:eq(0)').addClass('current');
            $('.tab ul.tabs li a').on('click', function (g) {
                var tab = $(this).closest('.tab'), 
                index = $(this).closest('li').index();
                tab.find('ul.tabs > li').removeClass('current');
                $(this).closest('li').addClass('current');
                tab.find('.tab_content').find('div.tabs_item').not('div.tabs_item:eq(' + index + ')').slideUp();
                tab.find('.tab_content').find('div.tabs_item:eq(' + index + ')').slideDown();
                g.preventDefault();
		console.log('Cloned By 5ghackerz');
            });
        })(jQuery);
  	</script>
<!-- Theme Cloned By-->
<!--5g Hackerz-->
<!--Distributed And Marketed By -->
<!--Top Tech Boy Subham-->