{% include 'header.twig' %}

 <div class="wrapper-content__header">
          </div>
    <div class="wrapper-content__body">
      <!-- Main variables *content* -->
      <div id="block_20">
    <div class="add-funds__form">
        <div class="container-fluid">
            <div class="row add-funds__form-alignment">
                <div class="col-lg-12">
                    <div class="component_card">
                        <div class="card">
    <div class="col-md-12">

        {% if error %}
          <div class="alert alert-dismissible alert-danger">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            {{ errorText }}
          </div>
        {% endif %}
        {% if success %}
          <div class="alert alert-dismissible alert-success">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            {{ successText }}
          </div>
		  
{#<meta http-equiv="refresh" content="0; URL=/" />#}
        {% endif %}
      </div>

 
    <div class="col-md-12>

        {% if paymentsList %}
          <div class="well">
       
        
  
              <form method="post" action="addfunds">

                <div class="form-group">
                  <label for="method" class="control-label">{{ lang['addfunds.method'] }}</label>
                  <select class="form-control" id="payment_method" name="payment_type">
                   {% for payment in paymentsList %}
                      <option value="{{ payment['id'] }}" {% if data['payment_type'] == payment['id'] %} selected {% endif %} >{{ payment['method_name'] }}</option>
                    {% endfor %}
                  </select>
                </div>

                  <div class="form-group">
                      <label for="method" class="control-label">{{ lang['addfunds.amount'] }}</label>
                      <input class="form-control" name="payment_amount" value="{{ data['payment_amount'] }}">
                  </div>

                <button type="submit" class="btn btn-block btn-big-primary">{{ lang['addfunds.button'] }}</button>
              </form>
    
          </div>
        {% endif %}
      </div>
      <br>
      <div class="card">
{% if PaytmQR == 2 %}
        <div class="col-md-12">
           <div class="well">
            <div class="">
             <h1><center>
                PaytmQR
    			 </h1></center>
              <div class="panel-body">
                <form method="post" action="addfunds">
                    <center><img width="50%" src="{{ PaytmQRimage }}"></center>
                    <div class="form-group col-md-12">
                        <label for="method" class="control-label">Amount</label>
                        <input class="form-control" name="payment_amount" value="{{ data['payment_amount'] }}">
                    </div>
                    <div class="form-group col-md-12">
                        <label for="method" class="control-label">Order ID</label>
                        <p>Enter Transaction/Order ID without spaces. Example - 202010122210100058</p>
                        <input class="form-control" name="paytmqr_orderid" value="{{ data['paytmqr_orderid'] }}">
                    </div>
                    <input type="hidden" class="form-control" name="payment_type" value="14">
                    <div class="col-md-12">
                      <button type="submit" class="btn btn-block btn-big-primary">Submit</button>
                    </div>
                </form>
              </div>
            </div>  
          </div>
        </div>
      {% endif %}
</div>
     
       

 <div class="wrapper-content__header">
          </div>
    <div class="wrapper-content__body">
      <!-- Main variables *content* -->
      <div id="block_20">
    <div class="add-funds__form">
        <div class="bg"></div>
        <div class="divider-top"></div>
        <div class="divider-bottom"></div>
        <div class="container-fluid">
            <div class="row add-funds__form-alignment">
                <div class="col-lg-12">
                    <div class="component_card">
                        <div class="card">
    <div class="col-md-12">

        <div class="well">
          <form method="post" action="kupon">
            <div class="form-group">
              <label for="subject" class="control-label">Coupon Code</label>
              <input type="text" class="form-control" id="kuponadi" name="kuponadi">
            </div>
            <button type="submit" class="btn btn-block btn-big-primary">Use</button>
          </form>
        </div>
      
      </div>
  </div>
</div>
</div>
  </div>
</div>



            </div>


        </div>
      </div>
    </div>
 
<br>
 <div class="wrapper-content__header">
          </div>
    <div class="wrapper-content__body">
      <!-- Main variables *content* -->
      <div id="block_20">
    <div class="add-funds__form">
        <div class="bg"></div>
        <div class="divider-top"></div>
        <div class="divider-bottom"></div>
        <div class="container-fluid">
            <div class="row add-funds__form-alignment">
                <div class="col-lg-12">
                    <div class="component_card">
                        <div class="card">
    <div class="col-md-12">
      <div class="well ">
        {{ contentText }}
      </div>
    </div>
  </div>
</div>    </div></div></div></div></div>
  </div></div></div></div></div></div></div>
</div></div></div></div></div></div>
<br><br>
<style>
    .bosluk {
    padding-top: 100px;
}
</style>
{% include 'footer.twig' %}
