{% include 'header.twig' %}
 <div class="wrapper-content__header">
          </div>
    <div class="wrapper-content__body">
      <!-- Main variables *content* -->
      <div id="block_22">
    <div class="orders-history ">
        <div class="bg"></div>
        <div class="divider-top"></div>
        <div class="divider-bottom"></div>
        <div class="container-fluid">
            <div class="row">
                <div class="col">
                    <div class="orders-history__margin-tab">
                        <div class="component_status_tabs">
                            <div class="">
      <ul class="nav nav-pills tab ">
	  <li class="nav-item" >
		<a {% if 'all' == status %}  class="nav-link active" {% endif %} class="nav-link" href="dripfeeds">{{ lang['dripfeed.status.all'] }}</a>
		</li>
        <li class="nav-item"><a {% if 'active' == status %}  class="nav-link active" {% endif %} class="nav-link" href="dripfeeds/active">{{ lang['dripfeed.status.active'] }}</a></li>
        <li class="nav-item"><a {% if 'canceled' == status %}  class="nav-link active" {% endif %} class="nav-link" href="dripfeeds/canceled">{{ lang['dripfeed.status.canceled'] }}</a></li>
		<li class="nav-item"><a {% if 'completed' == status %}  class="nav-link active" {% endif %} class="nav-link" href="dripfeeds/completed">{{ lang['dripfeed.status.completed'] }}</a></li>
		
		
      </ul><br>
	   <div class="row">
                <div class="col-12">
                    <div class="orders-history__margin-search component_card">
                        <div class="card">
                            <div class="component_form_group component_button_search">
                                <div class="">
                                    <form action="" method="get" id="history-search">
                                        <div class="input-group">
                                            <input type="text" name="search" class="form-control" value="{{ search }}" placeholder="Search orders">
                                            <div class="input-group-append">
                                                <button class="btn btn-big-secondary" type="submit">
                                                    <span class="fas fa-search"></span>
                                                </button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                             </div>
                        </div>
                    </div>
                </div>
            </div>
			 <div class="row">
                <div class="col">
                    <div class="orders-history__margin-table">
                        <div class="table-bg component_table ">
                            <div class="table-wr table-responsive">
        <table class="table ">
          <thead>
            <tr>
              <th>{{ lang['dripfeed.id'] }}</th>
              <th>{{ lang['dripfeed.date'] }}</th>
              <th class="width-40">{{ lang['dripfeed.link'] }}</th>
              <th>{{ lang['dripfeed.total_charges'] }}</th>
              <th class="nowrap">{{ lang['dripfeed.quantity'] }}</th>
              <th>{{ lang['dripfeed.service'] }}</th>
              <th class="nowrap">{{ lang['dripfeed.runs'] }}</th>
              <th>{{ lang['dripfeed.interval'] }}</th>
              <th>{{ lang['dripfeed.total_quantity'] }}</th>
              <th>{{ lang['dripfeed.status'] }}</th>
            </tr>
          </thead>
          <tbody>

            {% for dripFeed in orders %}
              <tr>
                <td>{{ dripFeed['id'] }}</td>
                <td>{{ dripFeed['date'] }}</td>
                <td class="width-40">{{ dripFeed['link'] }}</td>
                <td>{{ dripFeed['total_charges'] }}</td>
                <td class="nowrap">{{ dripFeed['quantity'] }}</td>
                <td>{{ dripFeed['service'] }}</td>
                <td class="nowrap">
                  {% if dripFeed['delivery'] %}
                    <a href="orders?dripfeed={{ dripFeed['id'] }}"> {{ dripFeed['delivery'] }} </a> / {{ dripFeed['runs'] }}
                  {% else %}
                    {{ dripFeed['delivery'] }} / {{ dripFeed['runs'] }}
                  {% endif %}
                </td>
                <td>{{ dripFeed['interval'] }}</td>
                <td>{{ dripFeed['total_quantity'] }}</td>
                <td>{{ dripFeed['status'] }}</td>
              </tr>
            {% endfor %}

          </tbody>
        </table>
      </div>

      {% if pagination["count"] > 1 %}
        <ul class="pagination">

          {% if pagination["current"] != 1 %}
            <li>
              <a href="dripfeeds/{{ status }}/{{ pagination["previous"] }}{% if search %}?search={{ search }}{% endif %}" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
              </a>
            </li>
          {% endif %}

          {% set r, l = 3, 3 %}

          {% if pagination['current'] == 1 %}
            {% set r = 7 %}
          {% endif %}

          {% if pagination['current'] == 2 %}
            {% set r = 5 %}
          {% endif %}

          {% if pagination['current'] >= pagination['count'] %}
            {% set l = 5 %}
          {% endif %}

          {% for page in 1..pagination["count"] %}
            {% if page >= (pagination['current']-l) and page <= (pagination['current']+r) %}
              <li{% if page == pagination['current'] %} class="active" {%endif%}><a href="dripfeeds/{{ status }}/{{ page }}{% if search %}?search={{ search }}{% endif %}">{{ page }}</a></li>
            {%endif%}
          {% endfor %}

          {% if pagination['current'] < pagination['count'] %}
            <li>
              <a href="dripfeeds/{{ status }}/{{ pagination['next'] }}{% if search %}?search={{ search }}{% endif %}" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
              </a>
            </li>
          {% endif %}

        </ul>
      {% endif %}

    </div>
  </div></div></div></div></div></div></div></div></div>
</div></div></div></div>


{% include 'footer.twig' %}
